.advantages{
  .advantages__title{
    font-size: 25px;
    line-height: 30px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
  }
  .advantages_list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .advantages__item{
    font-size: 17px;
    line-height: 20px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    outline: 1px solid yellow;
    width: 210px;
    padding-top: 56px;
    padding-bottom: 0px;
    margin-bottom: 30px;
  }

  outline: 3px solid red;
  width: 320px;
  padding-top: 30px;
  margin: 0 auto;
  min-height: 800px;

  .advantages__wrapper{
    outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    min-height: 640px;

    .advantages__wrapper{
      width: 668px;
      margin: 0 auto;
    }
    .advantages__title{
      font-size: 43px;
      line-height: 50px;
    }
    .advantages__item{
      font-size: 20px;
      line-height: 22px;
      width: 296px;
    }
    .advantages_list{
      display: flex;
      flex-direction: column;
      height: 410px;
      flex-wrap: wrap;
    }
  }
  @media (min-width: @desktop-width){
    .advantages__wrapper{
      width: 1050px;
    }
  }
}
