.bottom-header{
  outline: 3px solid red;
  width: 320px;
  margin: 0 auto;
  min-height: 490px;
  background-color: @bottom-header-background-color;

  .bottom-header__wrapper{
    outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
  }

  .bottom-header__menu{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .bottom-header__title {
    font-size: 27px;
    line-height: 30px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-position: 50% 0%;
    padding-top: 70px;
    padding-bottom: 118px;
    width: 246px;
    margin: 0 auto;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    min-height: 744px;

    .bottom-header__wrapper{
      width: 668px;
      margin: 0 auto;
    }
  }
  @media (min-width: @desktop-width){
    .bottom-header__wrapper{
      width: 1050px;
    }
  }
}
