.button {
  font-size: 17px;
  line-height: 20px;
  color: @light-text-color;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  padding: 16px 0px;
  border: 2px solid @light-text-color;
  display: block;
  text-align: center;
}
