.button {
  font-size: 17px;
  line-height: 20px;
  color: @light-text-color;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 0px;
  border: 2px solid @light-text-color;
  display: block;
  text-align: center;

  &:hover{
    color: #ffffff;
    background-color: #444444;
  }
  &:active{
    color: rgba(255,255,255,0.3)
  }
}
