.catalog-menu{
  min-height: 206px;
  display: flex;
  flex-direction: column;

  .catalog-menu__item{
    position: relative;
    font-size: 19px;
    line-height: 24px;
    color: @catalog-menu-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    display: block;
    padding: 28px 28px;
  }
  .catalog-menu__item::after{
    content: '';
    position: absolute;
    // top: 22px;
    // right: 36px;
    // width: 40px;
    // height: 62px;
    // background-image: url(../img/icon-interior.svg);
  }

  .catalog-menu__item--interior{
    background-color: @catalog-interior-color;

    &::after{
      top: 22px;
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url(../img/icon-interior.svg);
    }
  }
  .catalog-menu__item--toys{
    background-color: @catalog-toys-color;

    &::after{
      top: 22px;
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url(../img/icon-toy.svg);
    }
  }

  @media (min-width: @tablet-width){
    width: 668px;
    min-height: 88px;
    flex-direction: row;

    .catalog-menu__item{
      font-size: 20px;
      line-height: 30px;
      padding: 32px 0px;
      padding-left: 36px;
      width: 298px;
    }
  }
  @media (min-width: @desktop-width){
    width: 1050px;

    .catalog-menu__item{
      width: 489px;
    }
  }
}
