.contacts__title{
  font-size: 18px;
  line-height: 30px;
  color: @dark-text-color;
  font-weight: bold;
  font-family: 'OpenSans', sans-serif;
}

.contacts__list{
  font-size: 15px;
  line-height: 30px;
  color: @light-text-color;
  font-weight: normal;
  font-family: 'OpenSans', sans-serif;
}
