.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright__title {
    font-size: 19px;
    line-height: 18px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-decoration: none;
    margin-right: 30px;
  }
  .copyright__title:active {
    opacity: 0.3;
  }

  .copyright__img-icon {
    fill: @copyright-icon-color;
    margin-top: 4px;
  }
  .copyright__img-icon:hover {
    fill: @footer-icon-color-hover;
  }
  .copyright__img-icon:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {

  }
}
