.main-nav{
  position: relative;

  .main-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-nav__toggle{
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  @media (min-width: @tablet-width){
    .main-nav__toggle{
      display: none;
    }
  }
}

.main-nav--closed{
  .main-nav__toggle{
    top: -51px;
    right: 0px;
    background: url(../img/icon-menu-open.svg);
    width: 20px;
    height: 14px;
  }

  @media (max-width: @mobile-width-only){
    .main-nav__list{
      display: none;
    }
  }
}

.main-nav--opened{
  .main-nav__toggle{
    top: -51px;
    right: 0px;
    background: url(../img/icon-menu-close.svg);
    width: 21px;
    height: 20px;
  }

  @media (max-width: @mobile-width-only){
    .main-nav__list{
      display: block;
    }
  }
}
