.order-extra{
  width: 320px;
  margin: 0 auto;

  .order-extra__wrapper{
    width: 260px;
    margin: 0 auto;
  }

  .order-extra__title{
    font-size: 17px;
    line-height: 16px;
    color: @order-title-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
  }

  .order-extra__text-field{
    font-size: 17px;
    line-height: 18px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    outline: none;
    width: 260px;
    height: 136px;
    padding: 16px 0;
    border: none;
    border: 2px solid @dark-text-color;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    margin-bottom: 30px;

    .order-extra__wrapper{
      width: 498px;
      padding-left: 168px;
    }

    .order-extra__title{
      margin-left: -168px;
      margin-bottom: -16px;
    }
    .order-extra__text-field{
      width: 500px;
    }
  }

  @media (min-width: @desktop-width){
    .order-extra__wrapper{
      width: 686px;
      padding-left: 174px;
      padding-right: 190px;
    }

    .order-extra__text-field{
      width: 700px;
    }
    .order-extra__title{
      margin-left: -110px;
      margin-bottom: -16px;
    }
  }
}
