.order-customer{
  width: 320px;
  margin: 0 auto;

  .order-customer__wrapper{
    width: 260px;
    margin: 0 auto;
  }
  .order-customer__item{
    margin-bottom: 21px;
  }

  .order-customer__title{
    font-size: 17px;
    line-height: 16px;
    color: @order-title-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-top: 30px;
    margin-bottom: 29px;
  }
  .order-customer__title::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 62px;
    border: none;
    background-color: @order-title-color;
    width: 198px;
    height: 1px;
  }
  .order-customer__name, .order-customer__surname, .order-customer__fathername{
    font-size: 17px;
    line-height: 18px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    margin-top: 30px;
  }
  .order-customer__name-field, .order-customer__surname-field, .order-customer__fathername-field {
    font-size: 17px;
    line-height: 18px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    outline: none;
    width: 260px;
    padding: 16px 0px;
    border: none;
    border-bottom: 2px solid @dark-text-color;
  }
  .order-customer__name-field:focus, .order-customer__surname-field:focus, .order-customer__fathername-field:focus{
    border-bottom: 2px solid @order-form-icons-color;
  }
  .order-customer__name-field:hover, .order-customer__surname-field:hover, .order-customer__fathername-field:hover{
    border-bottom: 2px solid @order-form-icons-color;
  }

  .order-customer__name-field::-webkit-input-placeholder {opacity: 0.3;}
  .order-customer__name-field::-moz-placeholder          {opacity: 0.3;}
  .order-customer__name-field:-moz-placeholder           {opacity: 0.3;}
  .order-customer__name-field:-ms-input-placeholder      {opacity: 0.3;}

  .order-customer__surname-field::-webkit-input-placeholder {opacity: 0.3;}
  .order-customer__surname-field::-moz-placeholder          {opacity: 0.3;}
  .order-customer__surname-field:-moz-placeholder           {opacity: 0.3;}
  .order-customer__surname-field:-ms-input-placeholder      {opacity: 0.3;}

  .order-customer__fathername-field::-webkit-input-placeholder {opacity: 0.3;}
  .order-customer__fathername-field::-moz-placeholder          {opacity: 0.3;}
  .order-customer__fathername-field:-moz-placeholder           {opacity: 0.3;}
  .order-customer__fathername-field:-ms-input-placeholder      {opacity: 0.3;}

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;

    .order-customer__wrapper{
      width: 498px;
      padding-left: 168px;
      padding-top: 34px;
      padding-bottom: 30px;
    }

    .order-customer__title{
      margin-left: -168px;
      margin-bottom: -36px;
    }
    .order-customer__title::after{
      display: none;
    }
    .order-customer__name-field{
      width: 394px;
      padding: 15px 16px;
      margin-left: 18px;
    }
    .order-customer__surname-field{
      width: 342px;
      padding: 15px 16px;
      margin-left: 17px;
    }
    .order-customer__fathername-field{
      width: 344px;
      padding: 15px 16px;
      margin-left: 18px;
    }
    .order-customer__name-field, .order-customer__surname-field, .order-customer__fathername-field {
      font-size: 19px;
    }
    .order-customer__name, .order-customer__surname, .order-customer__fathername{
      font-size: 19px;
    }
    .order-customer__item{
      margin-bottom: 19px;
    }
  }

  @media (min-width: @desktop-width){
    .order-customer__wrapper{
      width: 686px;
      padding-left: 166px;
      padding-right: 175px;
    }

    .order-customer__title{
      margin-left: -116px;
      margin-bottom: -36px;
    }
    .order-customer__name-field{
      width: 608px;
      margin-left: 20px;
      padding-right: 0;
    }
    .order-customer__surname-field{
      width: 558px;
      padding-right: 0;
    }
    .order-customer__fathername-field{
      width: 542px;
    }
    .order-customer__item{
      width: 700px;
      margin-bottom: 18px;
    }

  }
}
