.order-types{
  width: 320px;
  margin: 0 auto;

  .order-types__wrapper{
    width: 260px;
    margin: 0 auto;
  }

  .order-types__title{
    font-size: 17px;
    line-height: 16px;
    color: @order-title-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 26px;
  }
  .order-types__title::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 62px;
    border: none;
    background-color: @order-title-color;
    width: 198px;
    height: 1px;
  }

  & label{
    display: block;
    margin-bottom: 18px;
  }

  .order-types__radio {
  	display: none;
  }
  .order-types__radio-custom {
  	width: 36px;
  	height: 36px;
  	border: 2px solid #444444;
  	position: relative;
  }
  .order-types__radio-custom:hover{
    border-color: #62d1ba;
  }
  .order-types__radio-custom:active{
    border-color: #444444;
    opacity: 0.3;
  }
  .order-types__radio-custom,
  .order-types__radio-label {
  	display: inline-block;
  	vertical-align: middle;
  }

  .order-types__radio:checked + .order-types__radio-custom::before {
  	content: "";
  	display: block;
  	position: absolute;
  	top: 10px;
  	right: 10px;
  	bottom: 10px;
  	left: 10px;
  	background: #62d1ba;
  }
  .order-types__radio-custom,
  .order-types__radio:checked + .order-types__radio-custom::before {
  	border-radius: 50%;
  }

  .order-types__radio-label{
    font-size: 17px;
    line-height: 18px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    width: 156px;
    // margin-top: 10px;
    margin-left: 18px;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;

    .order-types__wrapper{
      width: 498px;
      padding-left: 166px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .order-types__item{
      display: block;
      width: 440px;
    }
    .order-types__title{
      margin-left: -168px;
      margin-bottom: -34px;
    }
    .order-types__title::after{
      display: none;
    }
    .order-types__radio-custom {
    	width: 48px;
    	height: 48px;
    }
    .order-types__radio-label{
      font-size: 19px;
      width: 256px;
      margin-left: 22px;
    }
    .order-types__radio:checked + .order-types__radio-custom::before {
    	top: 14px;
    	right: 14px;
    	bottom: 14px;
    	left: 14px;
    }
    & label{
      margin-bottom: 22px;
    }
  }

  @media (min-width: @desktop-width){
    .order-types__wrapper{
      width: 876px;
      padding-left: 174px;
    }

    .order-types__title{
      margin-left: -110px;
      margin-bottom: -16px;
    }
  }
}
