.order-email{
  width: 320px;
  margin: 0 auto;

  .order-email__wrapper{
    width: 260px;
    margin: 0 auto;
  }

  .order-email__title{
    font-size: 17px;
    line-height: 16px;
    color: @order-title-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
  }
  .order-email__title::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 62px;
    border: none;
    background-color: @order-title-color;
    width: 198px;
    height: 1px;
  }
  .order-email__address-field{
    font-size: 17px;
    line-height: 18px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    outline: none;
    width: 260px;
    padding: 16px 16px;
    border: none;
    border-bottom: 2px solid @dark-text-color;
    position: relative;
    box-sizing: border-box;
    background: url(../img/icon-mail.svg) no-repeat;
    background-position: 96% 50%;
  }
  .order-email__address-field:focus{
    border-bottom: 2px solid @order-form-icons-color;
    background: url(../img/icon-mail-active.svg) no-repeat;
    background-position: 96% 50%;
  }
  .order-email__address-field:hover{
    border-bottom: 2px solid @order-form-icons-color;
    background: url(../img/icon-mail-active.svg) no-repeat;
    background-position: 96% 50%;
  }

  .order-email__address-field::-webkit-input-placeholder {opacity: 0.3;}
  .order-email__address-field::-moz-placeholder          {opacity: 0.3;}
  .order-email__address-field:-moz-placeholder           {opacity: 0.3;}
  .order-email__address-field:-ms-input-placeholder      {opacity: 0.3;}

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    background-color: @bottom-header-background-color-noimg;

    .order-email__wrapper{
      width: 498px;
      padding-left: 168px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .order-email__title{
      margin-left: -168px;
      margin-bottom: -26px;
    }
    .order-email__title::after{
      display: none;
    }
    .order-email__address-field{
      width: 500px;
    }
  }

  @media (min-width: @desktop-width){
    .order-email__wrapper{
      width: 686px;
      padding-left: 174px;
      padding-right: 190px;
    }

    .order-email__address-field{
      width: 700px;
    }
    .order-email__title{
      margin-left: -110px;
      margin-bottom: -16px;
    }
  }
}
