.order-extra{
  width: 320px;
  margin: 0 auto;

  .order-extra__wrapper{
    width: 260px;
    margin: 0 auto;
  }

  .order-extra__title{
    font-size: 17px;
    line-height: 16px;
    color: @order-title-color;
    font-weight: bold;
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-top: 32px;
    margin-bottom: 24px;
    &::after{
      content: '';
      position: absolute;
      top: 8px;
      left: 62px;
      border: none;
      background-color: @order-title-color;
      width: 198px;
      height: 1px;
    }
  }

  .order-extra__text-field{
    font-size: 17px;
    line-height: 18px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'Open Sans', 'Arial', sans-serif;
    outline: none;
    width: 226px;
    height: 108px;
    padding: 15px 15px;
    border: none;
    border: 2px solid @dark-text-color;
    opacity: 1;
  }
  .order-extra__text-field:focus{
    border: 2px solid @order-form-icons-color;
  }
  .order-extra__text-field:hover{
    border: 2px solid @order-form-icons-color;
  }

  .order-extra__text-field::-webkit-input-placeholder {opacity: 0.3;}
  .order-extra__text-field::-moz-placeholder          {opacity: 0.3;}
  .order-extra__text-field:-moz-placeholder           {opacity: 0.3;}
  .order-extra__text-field:-ms-input-placeholder      {opacity: 0.3;}

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    margin-bottom: 0px;

    .order-extra__wrapper{
      width: 668px;
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      align-items: flex-start;
    }

    .order-extra__title{
      margin-top: 18px;
      &::after{
        display: none;
      }
    }
    .order-extra__text-field{
      font-size: 19px;
      width: 466px;
      margin-left: 128px;
    }
  }

  @media (min-width: @desktop-width){
    .order-extra__wrapper{
      width: 817px;
      padding-left: 66px;
      padding-top: 50px;
      padding-right: 175px;
      padding-bottom: 46px;
    }

    .order-extra__text-field{
      width: 668px;
      margin-left: 74px;
    }
  }
}
