.page-footer{
  background-color: @footer-background-color;

  // outline: 3px solid red;
  width: 320px;
  margin: 0 auto;
  min-height: 160px;

  .page-footer__wrapper{
    // outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .page-footer__logo{
    display: none;
  }
  .page-footer__social{
    // margin: 0 auto;
    padding: 26px 30px;
    margin-left: 26px;
  }
  .page-footer__copyright{
    margin: 0 auto;
    margin-top: 14px;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    // min-height: 142px;
    padding-top: 40px;

    .page-footer__wrapper{
      width: 668px;
      margin: 0 auto;
      flex-direction: row;
      align-items: flex-start;
    }
    .page-footer__logo{
      display: block;
      margin-top: 16px;
      width: 102px;
      height: 34px;
    }
    .page-footer__copyright{
      margin-top: 16px;
      margin-left: 50px;
    }
    .page-footer__social{
      margin-left: 146px;
      padding-top: 20px;

    }
  }
  @media (min-width: @desktop-width){
    .page-footer__wrapper{
      width: 1050px;
    }
    .page-footer__social{
      margin-left: 350px;
    }
    .page-footer__copyright{
      margin-left: 250px;
    }
  }
}
