.products-video{
  width: 320px;
  margin: 0 auto;


  .products-video__wrapper{
    width: 260px;
    margin: 0 auto;
    border: 1px solid @list-border-color;
    padding-bottom: 34px;
    margin-bottom: 56px;
  }
  // .products-video__wrapper:hover{
  //   box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  // }
  // .products-video__wrapper:active{
  //   box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  // }
  .products-video__title{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    padding-left: 90px;
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;
  }
  .products-video__title::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url(../img/icon-video.svg);
  }
  .products-video__descr{
    font-size: 13px;
    line-height: 24px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    margin: 0 34px;
    margin-top: 23px;
    margin-bottom: 25px;
    position: relative;
    z-index: 20;
  }
  .products-video__descr::after{
    content: '';
    position: absolute;
    top: -26px;
    left: -34px;
    width: 260px;
    height: 257px;
    z-index: 10;
  }
  .products-video__descr:hover::after{
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .products-video__descr:active::after{
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .products-video__make-order{
    width: 190px;
    margin: 0 auto;
    z-index: 20;
  }
  .products-video__play-btn{
    display: block;
    position: absolute;
    top: 24%;
    left: 30%;
    background-color: none;
    background: url(../img/icon-play.svg) no-repeat;
    border: none;
    width: 102px;
    height: 77px;
  }
  .products-video__play-btn:hover{
    width: 121px;
    height: 92px;
    background-size: 100%;
  }
  .products-video__play-btn:active{
    width: 81px;
    height: 62px;
    opacity: 0.3;
  }
  .products-video__video-block{
    position: relative;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    margin-bottom: 60px;

    .products-video__wrapper{
      width: 668px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    .products-video__title{
      order: 2;
      font-size: 20px;
      padding-left: 106px;
      margin-top: 32px;
      margin-bottom: 12px;
    }
    .products-video__title::before{
      top: -3px;
      left: 42px;
    }
    .products-video__video{
      order: 1;
    }
    .products-video__descr{
      order: 3;
      font-size: 15px;
      line-height: 30px;
      margin-left: 40px;
      margin-bottom: 35px;
      width: 582px;
    }
    .products-video__make-order{
      order: 4;
      width: 582px;
      margin-bottom: 12px;
    }
    .products-video__play-btn{
      top: 40%;
      left: 42%;
    }
    .products-video__descr::after{
      top: -96px;
      left: -40px;
      width: 668px;
      height: 288px;
      z-index: 10;
    }
  }

  @media (min-width: @desktop-width){
    margin-bottom: 104px;

    .products-video__wrapper{
      width: 1050px;
      align-items: flex-start;
    }
    .products-video__video{
      position: absolute;
    }
    .products-video__descr{
      width: 226px;
      margin-left: 760px;
      margin-bottom: 46px;
    }
    .products-video__make-order{
      width: 230px;
      margin-left: 762px;
      margin-bottom: 70px;
    }
    .products-video__title{
      margin-left: 654px;
      margin-top: 94px;
      margin-bottom: 12px;
      width: 160px;
    }
    .products-video__title::before{
      top: -54px;
      left: 108px;
    }
    .products-video__make-order{
      width: 226px;
      margin-bottom: 26px;
    }

    .products-video__play-btn{
      top: 188px;
      left: 290px;
    }
    .products-video__descr::after{
      top: -178px;
      left: -78px;
      width: 368px;
      height: 455px;
      z-index: 10;
    }
  }
}
