.product{
  // outline: 3px solid red;
  width: 320px;
  margin: 0 auto;
  // min-height: 824px;
  padding-top: 6px;

  .product__wrapper{
    // outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
  }

  .product__name{
    font-size: 25px;
    line-height: 30px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 4px;
  }
  .product__flag{
    font-size: 17px;
    line-height: 20px;
    color: @product-flag-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
  }
  .product__descr{
    font-size: 15px;
    line-height: 24px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    margin-top: 24px;
    margin-bottom: 14px;
  }
  .product__features{
    font-size: 15px;
    line-height: 20px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    margin-bottom: 28px;
  }
  .product__feature{
    border-bottom: 1px solid @list-border-color;
    padding: 10px 0;
    margin: 0;
  }
  .product__price{
    font-size: 17px;
    line-height: 24px;
    color: @light-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 26px;
  }
  .product__order{
    margin-bottom: 36px;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    min-height: 612px;

    .product__wrapper{
      width: 668px;
      // height: 404px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }

    .product__name{
      font-size: 43px;
      line-height: 50px;
      width: 422px;
      order: 1;
    }
    .product__flag{
      font-size: 17px;
      line-height: 17px;
      margin-top: 50px;
      width: 70px;
      margin-left: 148px;
      order: 2;
    }
    .product__descr{
      font-size: 17px;
      line-height: 30px;
      width: 280px;
      margin-top: 14px;
      order: 1;
    }
    .product__features{
      order: 2;
    }
    .product__price{
      order: 3;
    }
    .product__price{
      font-size: 20px;
      line-height: 24px;
      margin-top: 14px;
      order: 4;
    }
    .product__img{
      order: 5;
      margin-left: 44px;
      margin-top: 30px;
    }
    .product__descr-wrapper{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 424px;
      order: 3;
    }
    .product__order{
      width: 292px;
      order: 4;
    }
  }
  @media (min-width: @desktop-width){
    .product__wrapper{
      width: 1050px;
    }
    .product__name{
      font-size: 53px;
      line-height: 57px;
      width: 518px;
      order: 2;
      margin-left: 56px;
      margin-right: 200px;
    }
    .product__flag{
      order: 1;
      margin-left: 36px;
    }
    .product__descr-wrapper{
      order: 3;
      margin-left: 168px;
    }
  }
}
