.reviews{
  // outline: 3px solid red;
  width: 320px;
  margin: 0 auto;
  padding-top: 16px;
  // min-height: 620px;

  .reviews__wrapper{
    // outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
  }

  .reviews__title{
    font-size: 25px;
    line-height: 30px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
  }
  .reviews__text{
    font-size: 15px;
    line-height: 30px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'Aparajita', sans-serif;
    width: 250px;
    margin-top: 28px;
    margin-bottom: 24px;
  }
  .reviews__author-name{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
  }
  .reviews__author-nickname{
    font-size: 17px;
    line-height: 30px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
  }
  .reviews__write{
    width: 256px;
    margin-bottom: 44px;
  }
  .reviews__controls{
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .reviews__control-prev, .reviews__control-next{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    border: 1px solid @list-border-color;
    padding: 10px 0px;
    // padding-left: 27px;
    // padding-right: 42px;
  }
  .reviews__control-next{
    padding-right: 35px;
    padding-left: 41px;
    margin-left: -4px;
  }
  .reviews__control-prev{
    // margin-left: 10px;
    padding-left: 35px;
    padding-right: 41px;

  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    padding-top: 42px;
    padding-bottom: 106px;
    // min-height: 457px;
    background: url(../img/review@1x.jpg) no-repeat;

    .reviews__wrapper{
      width: 676px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    .reviews__title{
      font-size: 43px;
      line-height: 50px;
      width: 180px;
      order: 1;
    }
    .reviews__text{
      font-size: 17px;
      line-height: 30px;
      width: 668px;
      order: 3;
      margin-top: 18px;
      margin-bottom: 58px;
    }
    .reviews__author-name{
      font-size: 18px;
      line-height: 24px;
      font-style: normal;

    }
    .reviews__write{
      width: 176px;
      margin-bottom: 0px;
      order: 2;
      margin-left: 316px;
      margin-top: 40px;
    }
    .reviews__author{
      width: 254px;
      order: 4;
    }
    .reviews__controls{
      margin-left: 262px;
      margin-top: 14px;
      order: 5;
    }
    .reviews__control-prev, .reviews__control-next{
      margin: 0;
      padding: 0;
      border: none;
    }
    .reviews__control-next{
      // padding-right: 35px;
      // padding-left: 41px;
      margin-left: 34px;
    }
  }
  @media (min-width: @desktop-width){
    background: none;

    .reviews__wrapper{
      width: 874px;
      background: url(../img/review@1x.jpg) no-repeat;
      padding-left: 176px;
      padding-bottom: 100px;
    }
    .reviews__title{
      font-size: 53px;
      line-height: 57px;
      width: 218px;
    }
    .reviews__controls{
      margin-left: auto;
    }
  }
}
