.site-list{
  // outline: 1px solid orange;
  // min-height: 316px;
  // background-color: @background-color;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;


  .site-list__item{
    padding: 30px 45px;
    border-top: 1px solid @list-border-color;
    border-bottom: 1px solid @list-border-color;
    position: relative;
  }
  .site-list__item:nth-child(5), .site-list__item:nth-child(6){
    display: none;
  }
  .site-list__catalog{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    display: block;
  }
  .site-list__order{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    display: block;
  }
  .site-list__search{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    display: block;
  }
  .site-list__search::before{
    content: '';
    position: absolute;
    top: 34px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-image: url(../img/icon-search.svg);
  }
  .site-list__basket{
    font-size: 17px;
    line-height: 24px;
    color: @dark-text-color;
    font-weight: bold;
    font-family: 'OpenSans', sans-serif;
    text-decoration: none;
    display: block;
  }
  .site-list__basket::before{
    content: '';
    position: absolute;
    top: 34px;
    left: 0px;
    width: 21px;
    height: 18px;
    background-image: url(../img/icon-cart.svg);
  }

  @media (min-width: @tablet-width){
    width: 672px;
    min-height: 104px;
    flex-direction: row;
    flex-wrap: wrap;

    .site-list__item{
      border-bottom: none;
      border-top: none;
      // outline: 1px solid purple;
    }
    .site-list__item:nth-child(1){
      order: 3;
      padding: 0px;
      padding-top: 20px;
    }
    .site-list__item:nth-child(2){
      order: 4;
      padding: 0px;
      padding-top: 20px;
      margin-left: 36px;
    }
    .site-list__item:nth-child(3){
      border-left: 1px solid @list-border-color;
      margin-left: 320px;
      padding: 30px 49px;
      padding-right: 32px;
       // padding-top: 20px;
      order: 1;
    }
    .site-list__item:nth-child(4){
      padding: 32px 0;
      padding-top: 30px;
      padding-left: 83px;
      padding-right: 0px;
      border-left: 1px solid @list-border-color;
      order: 2;
    }
    .site-list__search::before{
      position: absolute;
      top: 34px;
      left: 34px;
    }
    .site-list__search{
      font-size: 0px;
    }
    .site-list__basket::before{
      top: 34px;
      left: 34px;
    }
    .site-list__catalog{
      font-size: 15px;
    }
    .site-list__order{
      font-size: 15px;
    }
  }

  @media (min-width: @desktop-width){
    width: 1050px;

    .site-list__item:nth-child(1){
      order: 1;
      padding-right: 36px;
      padding-top: 30px;
    }
    .site-list__item:nth-child(2){
      order: 2;
      padding-left: 34px;
      padding-top: 30px;
      border-left: 1px solid @list-border-color;
      margin-left: 0;
    }
    .site-list__item:nth-child(3){
      order: 3;
      margin-left: 327px;
    }
    .site-list__item:nth-child(4){
      order: 4;
    }
    .site-list__item:nth-child(5){
      display: block;
      order: 5;
      padding: 0px;
      padding-top: 20px;
    }
    .site-list__item:nth-child(6){
      display: block;
      order: 6;
      padding: 0px;
      padding-top: 20px;
      margin-left: 63px;
    }
    .site-list__new-products{
      font-size: 15px;
      line-height: 24px;
      color: @dark-text-color;
      font-weight: bold;
      font-family: 'OpenSans', sans-serif;
      text-decoration: none;
      display: block;
    }
    .site-list__sale{
      font-size: 15px;
      line-height: 24px;
      color: @dark-text-color;
      font-weight: bold;
      font-family: 'OpenSans', sans-serif;
      text-decoration: none;
      display: block;
    }
    .site-list__catalog{
      font-size: 17px;
    }
    .site-list__order{
      font-size: 17px;
    }
  }
}
