.submit-block{
  width: 260px;
  margin: 0 auto;

  .submit-block__btn{
    width: 256px;
    margin-bottom: 60px;
  }
  .submit-block__star{
    font-size: 14px;
    line-height: 16px;
    color: @light-text-color;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @media (min-width: @tablet-width){
    width: 668px;
    display: flex;
    justify-content: space-between;

    .submit-block__star{
      width: 350px;
      margin-left: 240px;
      order: 2;
    }
    .submit-block__btn{
      order: 1;
    }
  }
}
