.top-header{
  // outline: 3px solid red;
  width: 320px;
  margin: 0 auto;
  // min-height: 394px;
  padding-top: 78px;

  .top-header__wrapper{
    // outline: 4px solid green;
    width: 260px;
    margin: 0 auto;
    position: relative;
    // z-index: 5;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
  }

  .top-header__logo{
    // height: 35px;
    padding: 20px 86px;
    position: absolute;
    top: -96px;
    left: 0px;
    z-index: 10;
  }
  .top-header__logo-image{
    padding: 20px 0px;
    width: 86px;
    height: 35px;
  }

  @media (min-width: @tablet-width){
    width: auto;
    margin: 0;
    // min-height: 88px;
    padding-top: 0px;

    .top-header__logo{
      // height: 46px;
      padding-left: 0px;
      top: -20px;
    }
    .top-header__logo-image{
      width: 113px;
      height: 46px;
      padding: 14px 0px;
    }

    .top-header__wrapper{
      width: 668px;
      margin: 0 auto;
      // flex-direction: row;
    }
  }

  @media (min-width: @desktop-width){
    .top-header__wrapper{
      width: 1050px;
    }

    .top-header__logo{
      // height: 72px;
      left: 448px;
    }
    .top-header__logo-image{
      width: 149px;
      height: 72px;
    }
  }
}
