@background-color: #ffffff;
@catalog-interior-color: #63d1bb;
@catalog-interior-color-hover: #59d5bc;
@catalog-toys-color: #56c3b2;
@catalog-toys-color-hover: #46c1ae;
@footer-background-color: #f1f1f1;
@top-header-background-color: #ffffff;
@bottom-header-background-color: #f9f9f9;
@bottom-header-background-color-noimg: #f1f1f1;
@dark-text-color: #000000;
@light-text-color: #444444;
@catalog-menu-text-color: #ffffff;
@product-flag-text-color: #63d1bb;
@order-title-color: #63d1bb;
@list-border-color: #ececec;
@link-color: #46c1ae;
@social-icon-color: #231F20;
@logo-footer-color: #231F20;
@footer-icon-color-hover: #46c1ae;
@copyright-icon-color: #63d1bb;
@tablet-width: 768px;
@desktop-width: 1250px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
